.DrawerToggle {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 40px;
  padding: 10px 0;
}

.DrawerToggle div {
  background-color: white;
  height: 3px;
  width: 90%;
}

@media (min-width: 500px) {
  .DrawerToggle {
    display: none;
  }
}